<!DOCTYPE html>
<html lang="es">

<head>

    <!-- ==========================================
         Ejercicio 5 - Plantilla con Jinja2
    =========================================== -->

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Ejercicio 5 - Plantilla con Jinja2</title>

</head>

<body>

    <h1>Plantilla con Jinja2</h1>

    <!-- Mostrar la variable enviada desde Flask -->
    <h2>{{ mensaje }}</h2>

</body>

</html>